body {
    margin: 0;
}

#header,
#article,
#aside,
#footer {
    padding: 16px;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 25% 25% 25% 25%;
}

#header {
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: tomato;
}

#article {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: gold;
}

#aside {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: lightgreen;
}

#footer {
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: lightblue;
}



