html, body {
    padding: 0;
    margin: 0;
    font-family: OttoSans;
    text-align: center;
}

h1 {
    padding: 50px;
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    background: lightcoral;
}

img {
    position: relative;
    margin: 50px 0 50px 0;
    border: solid 2px lightcoral;
    box-shadow: 2px 5px 5px lightgrey;
    animation: sliding 10s 999;
    animation-direction:normal;
}

  @keyframes sliding {
    0%   {left: 0%;}
    25%  {left: 25%;}
    75%  {left: -25%;}
    100% {left: 0%;}
  }

div {
    background: lightgrey;
    position: relative;
    padding: 50px;
}

p {
    font-size: 24px;
    margin: 0 0 25px 0;
    color: white;
    font-weight: bold;
}

#dozenten {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-collapse: collapse;
    font-size: 18px;
}

#dozenten td, #dozenten th {
    border: solid 1px lightcyan;
    padding: 12px 0 12px 8px;
    text-align: left;
}

#dozenten th {
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

@font-face {
    font-family: 'OttoSans';
    src: url('https://www.otto.de/assets-static/global-resources/assets/otto-sans_88e5e760.woff2') format('woff2'),
         url('https://www.otto.de/assets-static/global-resources/assets/otto-sans_a4416f4.woff') format('woff'),
         url('https://www.otto.de/assets-static/global-resources/assets/otto-sans_c3506310.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}